<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WebPoll</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="./musics">Musics</a>
    </div>
  </div>
</nav>

<br>

<div style="text-align:center" class="justify-content-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav class="nav justify-content-center">
    <a class="nav-link" href="./musics">Musics</a>
  </nav>
</div>

<br>
<router-outlet></router-outlet>
<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
        <a class="nav-item nav-link" target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
        <a class="nav-item nav-link" target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
      </div>
    </div>
  </nav>





