<div *ngIf="selectedMusic == null">
  <div class="row justify-content-center">
      <a class="col col-md-5">Name</a>
      <a class="col-2">Artist</a>
      <a class="col-2">Genre</a>
  </div>

  <div *ngFor="let music of musicList">
      <div class="row justify-content-center" routerLink="/musics/{{music.id}}">
          <a class="col col-md-5">{{music.name}}</a>
          <a class="col-2">{{music.artist.name}}</a>
          <a class="col-2">{{music.genre.name}}</a>
      </div>
  </div>
</div>
